<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/admin-view-default-layout}" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container-sm justify-content-end">
        <div layout:fragment="~{content}">
            <form class="form-control" th:action="@{/admin/save}" th:object="${user}" method="post">
                <input type="hidden" th:field="*{user_id}">
                <input type="hidden" th:field="*{address.id}">
                <input type="hidden" th:field="*{emergencyContact.id}">
                <div class="row">
                    <div class="col-sm-2">
                        <label>First Name</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{firstName}" placeholder="First name">
                    </div>
                    <div class="col sm-2">
                        <label>Last Name</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{lastName}" placeholder="Last Name">
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Email Address</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{emailAddress}" placeholder="Email address">
                    </div>
                    <div class="col-sm-2">
                        <label>Date of Birth</label>
                    </div>
                    <div class="col-sm-4">
                        <input id="dateOfBirth" type="date" th:field="*{dateofBirth}"  placeholder="Date of Birth">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Phone Number</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{phoneNumber}" placeholder="Phone Number">
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Address Line 1</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{address.addressLine1}" placeholder="Address Line 1">
                    </div>
                    <div class="col-sm-2">
                        <label>Address Line 2</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{address.addressLine2}" placeholder="Address Line 2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label>City</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{address.city}" placeholder="City">
                    </div>
                    <div class="col-sm-2">
                        <label>State</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{address.state}" placeholder="State">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2">
                        <label>Zip Code</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{address.zipcode}" placeholder="Zip code">
                    </div>
                </div>
                <br>
                <br>

                <div class="row">
                    <div class="col-sm-2">
                        <label>Username</label>
                    </div>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{username}" placeholder="username">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Password</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="password" id="password" th:field="*{password}" placeholder="password">
                    </div>
                    <div class="col-sm-2">
                        <label>Confirm Password</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="password" id="confirmPassword" placeholder="Confirm password">
                    </div>
                </div>
                <div class="row">

                </div>
                <br>
                <div class="row d-flex">
                    <div class="col-sm-2">
                        <label>Active</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="checkbox" th:field="*{enabled}">
                    </div>
                    <div class="col-sm-6 form-group">

                        <div class="col-sm-1">
                            <label for="user_type" >Role</label>
                        </div>
                        <div class="col-sm-1">
                            <select id="user_type" name="user_type" th:field="*{userType}">
                                <option value="" th:text=" |Select One |" selected="selected">Choose...</option>
                                <option th:each="userType : ${userTypes}"
                                        th:value="${userType.user_type_id}"
                                        th:text="${userType.description}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                       <label>Emergency Contact First Name</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" th:field="*{emergencyContact.firstName}" placeholder="First Name">
                    </div>
                    <div class="col-sm-3">
                        <label>Emergency Contact Last Name</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" th:field="*{emergencyContact.lastName}" placeholder="Last Name">
                    </div>

                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <label>Emergency Contact Phone Number</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" th:field="*{emergencyContact.phoneNumber}" placeholder="Phone Number">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 d-flex justify-content-center">
                        <button type="submit" name="submit"> Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="../admin/addUser.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
